<h2>Edit book</h2>

<form action="/edit-books" method="post">
    Title: {{title}} - <input type="text"><br>
    Author: {{author}} - <input type="text"><br>
    Publication Date: {{publicationDate}} - <input type="text"><br>
    Publisher: {{publisher}} - <input type="text"><br>
    <input type="submit">
</form>