<h2>Search books</h2>

<form action="/search-books" method="get">
    Search: <input type="text" name="search">
    <input type="submit">
</form>

{{#if searched }}

    {{#each books}}
        <p>{{this}}</p>
    {{/each}}
{{/if}}