<h2>Search Authors</h2>

<form action="/search-authors" method="get" autocomplete="off">
<div class="form-group form-inline">
    <input class="form-control" type="text" name="search" id="search">
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>

{{#if searched }}

    {{#each authors}}
        <a href="/author/{{this.id}}">{{this.name}}</a><br>
    {{/each}}
{{/if}}

<div class="search-books-table-div">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {{#if searched}}
            {{#each authors}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>