<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/layout.css">

    <title>Jönköping Library</title>
</head>

<body>
    <!--Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="/">Jönköping Library</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li>
                        <a class="nav-link" href="/books/search">Search Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/authors/search">Search Authors</a>
                    </li>
                    {{#if navBarData.loggedIn}}
                    <li class="nav-item">
                        <a class="nav-link" href="/authors/add">Add Authors</a>
                    </li>
                    {{/if}}
                    <li>
                        <a class="nav-link" href="/administrators">Administrators</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/classifications">Classifications</a>
                    </li>
                    {{#if navBarData.loggedOut}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    {{/if}}
                    {{#if navBarData.loggedIn}}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
            {{#if navBarData.loggedIn}}
            <div >
                <span class="usernames">Logged in as: </span><br>
                <span class="usernames">{{navBarData.firstName}} {{navBarData.lastName}}</span>
            </div>
            {{/if}}
        </div>
    </nav>

    <!-- Page Content -->
    <div class="jumbotron">
        {{{body}}}
    </div>

</body>

</html>