<h2>Admin Page</h2>

<div class="search-books-table-div">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {{#each administrators}}
            <tr>
                <td><a href="administrators/{{this.id}}">{{this.firstName}} {{this.lastName}}</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>