<h2>Edit admin</h2>

<form action="/administrator/edit" method="post">
    Name: {{name}} - <input type="text"><br>
    Privilegies: {{privilegies}} - <input type="text"><br>
    Email: {{email}} - <input type="text"><br>
    <input type="submit">
</form>