<h2>Add Author</h2>

<form id="create-author-form" action="/authors/new" method="post" autocomplete="off" class="create-author-form">
    <div class="form-group create-author-div">
        <input type="text" placeholder="First name" class="form-control" name="firstName">
        <input type="text" placeholder="Last name" class="form-control" name="lastName">
        <input type="number" placeholder="Birthyear" class="form-control" name="birthYear">
    </div>
    <button type="submit" class="btn btn-primary">Create Author</button>
</form>