<form id="create-book-form" action="/authors/addBook/{{authorId}}" method="post" autocomplete="off" class="create-book-form">
    <div class="form-group create-book-div">
        <input type="text", placeholder="ISBN", class="form-control" name="ISBN">
        <input type="text" placeholder="Title" class="form-control" name="title">
        <input type="number" placeholder="SignID" class="form-control" name="signID">
        <div id="publication-info-div" class="form-group form-inline">
            <input type="text" placeholder="Publication City" class="form-control" name="publicationCity"
                style="margin-right: 1.3%">
            <input type="text" placeholder="Publication Company" class="form-control" name="publicationCompany"
                style="margin-right: 1.3%">
            <input type="number" placeholder="Publication Year" class="form-control" name="publicationYear"
                style="margin-right: 1.3%">
        </div>
        <input type="number" placeholder="Number of Pages" class="form-control" name="pages">
    </div>
    <button type="submit" class="btn btn-primary">Create Book</button>
</form>

{{#if validationError}}
<div class="alert alert-warning">
    <strong>All fields not filled in correctly!</strong>
    {{#each errors}}
    <p>{{this}}</p>
    {{/each}}
</div>
{{/if}}

{{#if error}}
<strong>{{errorMessage}}</strong>
{{/if}}