<h2>Search Authors</h2>

<form id="create-author-form" action="/search-authors" method="post" autocomplete="off" class="create-author-form">
    <div class="form-group create-author-div">
        <input type="text" class="form-control" placeholder="ID" name="ID">
        <input type="text" placeholder="First name" class="form-control" name="firstName">
        <input type="number" placeholder="Last name" class="form-control" name="lastName">
        <input type="number" placeholder="Birthyear" class="form-control" name="birthYear">
    </div>
    <button type="submit" class="btn btn-primary">Create Author</button>
</form>

<form id="update-author-form" action="/search-authors" method="patch" autocomplete="off" class="update-author-form">
    <div class="form-group update-author-div">
        <input type="text" class="form-control" placeholder="ID" name="ID">
        <input type="text" placeholder="First name" class="form-control" name="firstName">
        <input type="number" placeholder="Last name" class="form-control" name="lastName">
        <input type="number" placeholder="Birthyear" class="form-control" name="birthYear">
    </div>
    <button type="submit" class="btn btn-primary">Update Author</button>
</form>

<form action="/search-authors" method="get" autocomplete="off">
<div class="form-group form-inline">
    <input class="form-control" type="text" name="search" id="search">
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="search-books-table-div">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {{#if searched}}
                {{#each authors}}
                <tr>
                    <td>{{this.id}}</td>
                    <td><a href="/author/{{this.id}}">{{this.name}}</a></td>
                </tr>
                {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>