<h2>Search Books</h2>

<form action="/search-books" method="get" autocomplete="off">
    <div class="form-group form-inline">
        <input class="form-control" type="text" name="search" id="search">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form id="create-book-form" action="/books" method="post" autocomplete="off" class="create-book-form">
<div class="form-group create-book-div">
<input type="text" class="form-control" placeholder="ISBN" name="ISBN">
<input type="text" placeholder="Title" class="form-control" name="title">
<input type="number" placeholder="SignID" class="form-control" name="signid">
<input type="text" placeholder="Publication Year" class="form-control" name="publicationYear">
<div id="publication-info-div" class="form-group form-inline">
<input type="text" placeholder="Publication City" class="form-control" name="publicationcity" style="margin-right: 1.3%">
<input type="text" placeholder="Publication Company" class="form-control" name="publicationcompany" style="margin-right: 1.3%">
<input type="number" placeholder="Publication Year" class="form-control" name="publicationyear" style="margin-right: 1.3%">
</div>
<input type="number" placeholder="Number of Pages" class="form-control" name="pages">
</div>
<button type="submit" class="btn btn-primary">Create Book</button>
</form>

{{#if searched }}

<div class="search-books-table-div">
    <table class="table table-striped" id="bookTable">
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {{#if searched}}
            {{#each books}}
            <tr>
                <td>{{this.ISBN}}</td>
                <td><a href="/book/{{this.ISBN}}">{{this.title}}</a></td>
            </tr>
            {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>

{{/if}}