div.jumbotron {
    background-color:white;
    padding-top: 16px;
}

div.search-books-table-div {
    padding-top: 1.3%;
}

button.btn.btn-secondary {
    margin-top: 1.3%;
}

input.form-control {
    margin-top: 1.3%;
}

td:hover {
    cursor: pointer;
}

span.usernames {
    color: white;
    font-size: 10px;
}